<div class="body">
<div class="login-box">
<h1>비밀번호찾기</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="text">
      <i class="fas fa-user"></i>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="text2">
    <%= f.submit "비밀번호 재설정", class: "btn" %>
  </div>
<% end %>

</div>
</div>
